@import url('../import.css');

@font-face {
	font-family: 'TTLakes';
	src: url('../fonts/TTLakes-Medium.eot');
	src: local('☺'), url('../fonts/TTLakes-Medium.woff') format('woff'), url('../fonts/TTLakes-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'TTLakes';
	src: url('../fonts/TTLakes-Regular.eot');
	src: local('☺'), url('../fonts/TTLakes-Regular.woff') format('woff'), url('../fonts/TTLakes-Regular.ttf') format('truetype'), url('../fonts/TTLakes-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'TTLakes';
	src: url('../fonts/TTLakes-Bold.eot');
	src: local('☺'), url('../fonts/TTLakes-Bold.woff') format('woff'), url('../fonts/TTLakes-Bold.ttf') format('truetype'), url('../fonts/TTLakes-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

body {
    margin: 0 auto;
}
.left-side {
    display: flex;
    flex-direction: column;
    width: 320px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid red;
    background: #FFFFFF;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
}
.header {
    display: flex;
    padding: 0 24px;
    width: auto;
    height: 86px;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin-left: 16px;
}
.header__button--right {
    margin-left: auto;
    background-image: url('../img/iconFind.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.header__button--left {
    background-image: url('../img/iconX.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.nav {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 24px 0;
}
.nav-button {
    display: flex;
    justify-content: flex-start;
    background: white;
    font-family: 'TTLakes', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    padding: 10px 0;
    margin-bottom: 15px;
    transition: all 0.4s linear;
}
.nav-button__text {
    margin-left: 24px;
    color: inherit;
}
.nav-button:hover {
    -webkit-box-shadow:0px 7px 8px #bababa, inset 0px -11px 4px #ebebeb, 0px -7px 8px #bababa, inset 0px 11px 4px #ebebeb; 
    -moz-box-shadow: 0px 7px 8px #bababa,  inset 0px -11px 4px #ebebeb, 0px -7px 8px #bababa,  inset 0px 11px 4px #ebebeb;  
    box-shadow:0px 7px 8px #bababa, inset 0px -11px 4px #ebebeb, 0px -7px 8px #bababa, inset 0px 11px 4px #ebebeb;
    color: #7E7E82;  
}
.nav-button:hover::before {
    content: url('../img/highlight.svg');
    width: 4px;
    height: 32px;
}