@import url('../import.css');

@font-face {
	font-family: 'TTLakes';
	src: url('../fonts/TTLakes-Medium.eot');
	src: local('☺'), url('../fonts/TTLakes-Medium.woff') format('woff'), url('../fonts/TTLakes-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'TTLakes';
	src: url('../fonts/TTLakes-Regular.eot');
	src: local('☺'), url('../fonts/TTLakes-Regular.woff') format('woff'), url('../fonts/TTLakes-Regular.ttf') format('truetype'), url('../fonts/TTLakes-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'TTLakes';
	src: url('../fonts/TTLakes-Bold.eot');
	src: local('☺'), url('../fonts/TTLakes-Bold.woff') format('woff'), url('../fonts/TTLakes-Bold.ttf') format('truetype'), url('../fonts/TTLakes-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

body {
    margin: 0 auto;
}
.left-side {
    display: flex;
    flex-direction: column;
    width: 320px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid red;
    background: #FFFFFF;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
}
.header {
    display: flex;
    padding: 0 24px;
    width: auto;
    height: 86px;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin-left: 16px;
}
.header-button__right {
    margin-left: auto;
}
.header-button__right--icon {
    margin: auto;
    width: 20px;
    height: 20px;
    background-image: url('../img/iconFind.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.header-button__left--icon {
    margin: auto;
    width: 20px;
    height: 20px;
    background-image: url('../img/iconX.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid black;
    padding: 24px 0;
}

